apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: open5gs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [
            { "name": "sbi-network", "ips": ["10.10.10.22/24"] }
          ]
      labels:
        app: prometheus
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      serviceAccountName: prometheus
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
            - "--web.enable-lifecycle"
            - "--web.listen-address=0.0.0.0:9090"
          ports:
            - containerPort: 9090
              name: http
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus
            - name: data
              mountPath: /prometheus
      volumes:
        - name: config
          configMap:
            name: prometheus-config
        - name: data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: open5gs
spec:
  clusterIP: None
  ports:
    - name: http
      port: 9090
      targetPort: 9090
---
apiVersion: v1
kind: Endpoints
metadata:
  name: prometheus
  namespace: open5gs
subsets:
  - addresses:
      - ip: 10.10.10.22
    ports:
      - name: http
        port: 9090
