apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus
rules:
  - apiGroups: [""]
    resources:
      - namespaces
      - services
      - endpoints
      - pods
    verbs: ["get", "list", "watch"]

